* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #1f2937;
}

body,
input,
button {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
}

form {
  padding: 2.4rem;
  margin: auto;

  max-width: 40rem;
}

/* Globais */
.flex {
  display: flex;
}

.col-2 {
  gap: 2.4rem;
}

.col-2 .input-wrapper:nth-child(1) {
  flex-basis: 80%;
}

/* Card */
#credit-card {
  width: 28rem;
  height: 16.8rem;

  margin: auto;

  perspective: 60rem;
}

#credit-card > div {
  width: inherit;
  height: inherit;

  border-radius: 1.6rem;

  position: absolute;

  background-color: rgba(0, 0, 0, 0.2);

  top: 0;
  left: 0;
  z-index: 1000;

  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#credit-card .front {
  padding: 1.6rem 2.4rem;

  transform: rotateY(0);
}

#credit-card .header-front {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#credit-card .content-front {
  margin-top: 4rem;
}

#credit-card .footer-front {
  margin-top: 2.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#credit-card .footer-front span {
  font-size: 1.4rem;

  color: #f9fafb;
}

#credit-card .back {
  transform: rotateY(-180deg);
  top: -5px;

  padding: 1.6rem 0;
}

#credit-card .back .line {
  width: 100%;
  height: 3.2rem;

  background-color: #111827;
}

#credit-card .back .content-back {
  margin-top: 4.6rem;
  padding: 2.4rem;

  width: 100%;

  align-items: center;
  justify-content: space-between;
}

#credit-card:active .front,
#credit-card:hover .front {
  transform: rotateY(180deg);
}

#credit-card:active .back,
#credit-card:hover .back {
  transform: rotateY(0deg);
}

/* Inputs */
.inputs {
  margin-top: 4.8rem;

  flex-direction: column;
  gap: 2.4rem;
}

label {
  font-weight: 600;
  font-size: 1.4rem;

  color: #e5e7eb;

  gap: 0.4rem;
  align-items: center;
}

input {
  margin-top: 0.4rem;
  padding: 1.2rem;

  width: 100%;

  border: 0.1rem solid #374151;
  border-radius: 0.4rem;

  color: #f3f4f6;
  background-color: #111827;
}

input:focus {
  outline: 0.15rem solid #9333ea;
}

.help img {
  width: 1.6rem;
  height: 1.6rem;
}

/* Security Data */
.info-security {
  margin-top: 4.8rem;

  gap: 0.8rem;
  justify-content: center;

  font-size: 1.4rem;

  color: #e5e7eb;
}

input:invalid:focus {
  border: 0.15rem solid #fb7185;
}

input + .warning {
  display: none;
}

input:invalid:focus + .warning {
  font-size: 1.4rem;

  margin-top: 0.8rem;

  color: #fb7185;

  display: flex;
  align-items: center;
  gap: 0.4rem;
}

/* Button */
button {
  margin-top: 10rem;
  padding: 1.6rem;

  border: 0;
  border-radius: 0.4rem;

  width: 100%;

  background-color: #9333ea;
  color: #f9fafb;
  box-shadow: 0rem 0.4rem 1.6rem rgba(0, 0, 0, 0.1);

  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;

  cursor: pointer;

  transition: background-color 0.2s;
}

button:hover {
  background-color: #a855f7;
}
