* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --gray-50: #f9fafb;
  --gray-100: #e5e7eb;
  --gray-150: #f3f4f6;
  --gray-200: #d1d5db;
  --gray-700: #374151;
  --gray-800: #111827;
  --gray-900: #1f2937;

  --primary-default: #a855f7;
  --primary-dark: #9333ea;

  --warning: #fb7185;
}

body {
  background-color: var(--gray-900);
}

body,
input,
button {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
}

form {
  padding: 2.4rem;
  margin: auto;

  max-width: 40rem;
}

/* Globais */
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.col-2 {
  gap: 2.4rem;
}

.border-rouded {
  border-radius: .4rem;
}

.mt-4 {
  margin-top: 4.8rem;
}

.col-2 .input-wrapper:nth-child(1) {
  flex-basis: 80%;
}

.text-small {
  font-size: 1.4rem;
}

/* Card */
#credit-card {
  width: 28rem;
  height: 16.8rem;

  margin: auto;

  perspective: 60rem;
}

#credit-card > div {
  width: inherit;
  height: inherit;

  border-radius: 1.6rem;

  position: absolute;

  background-color: rgba(0, 0, 0, 0.2);

  top: 0;
  left: 0;
  z-index: 1000;

  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#credit-card .front {
  padding: 1.6rem 2.4rem;

  transform: rotateY(0);
}

#credit-card .content-front {
  margin-top: 4rem;
}

#credit-card .content-front .numbers {
  color: var(--gray-50);
}

#credit-card .footer-front {
  margin-top: 2.4rem;
}

#credit-card .footer-front span {
  color: var(--gray-50);
}

#credit-card .back {
  transform: rotateY(-180deg);
  top: -5px;

  padding: 1.6rem 0;
}

#credit-card .back .line {
  width: 100%;
  height: 3.2rem;

  background-color: var(--gray-800);
}

#credit-card .back .content-back {
  margin-top: 4.6rem;
  padding: 2.4rem;

  width: 100%;

  gap: .8rem;

  color: var(--gray-100);
}

#credit-card .back .wrapper-cvv {
  background-color: var(--gray-200);
  color: var(--gray-800);

  width: 100%;
  height: 3.2rem;

  padding: 0 1.2rem;

  justify-content: flex-end;
}

#credit-card:active .front,
#credit-card:hover .front {
  transform: rotateY(180deg);
}

#credit-card:active .back,
#credit-card:hover .back {
  transform: rotateY(0deg);
}

/* Inputs */
.inputs {
  flex-direction: column;
  gap: 2.4rem;
}

label {
  font-weight: 600;

  color: var(--gray-100);

  gap: 0.4rem;
}

input {
  margin-top: 0.4rem;
  padding: 1.2rem;

  width: 100%;

  border: 0.1rem solid var(--gray-700);

  color: var(--gray-150);
  background-color: var(--gray-800);
}

input:focus {
  outline: 0.15rem solid var(--primary-dark);
}

input:invalid:focus {
  border: 0.15rem solid var(--warning);
}

input + .warning {
  display: none;
}

input:invalid:focus + .warning {
  margin-top: 0.8rem;

  color: var(--warning);

  gap: 0.4rem;
}

.help img {
  width: 1.6rem;
  height: 1.6rem;
}

/* Security Data */
.info-security {
  gap: 0.8rem;
  justify-content: center;

  color: var(--gray-100);
}

/* Button */
button {
  margin-top: 10rem;
  padding: 1.6rem;

  border: 0;

  width: 100%;

  background-color: var(--primary-dark);
  color: var(--gray-50);
  box-shadow: 0rem 0.4rem 1.6rem rgba(0, 0, 0, 0.1);

  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;

  cursor: pointer;

  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--primary-default);
}
